<!DOCTYPE html>
<html>

<head>
<%- include("../partials/header.ejs") %>
</head>
<body>
    <%- include("../partials/navbar.ejs" , {title : title}) %>
    <div class="profile">
        <h2 class="head_details">User Details</h2>
        <h5 class="name">Name :  <%= user.name %></h5>
        <h5 class="name">UserName :  <%= user.username %></h5>
        <h5 class="name">Age :  <%= user.age %></h5>
        <div class="name">
            <img src="data:image/<%= user.img.contentType %>;base64,<%= user.img.data %>" class="img"/>
        </div>
    </div>
</body>
</html>